<h1>Editing yes_vote</h1>

<% form_for(@yes_vote) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :poll_id %><br />
    <%= f.text_field :poll_id %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_field :body %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @yes_vote %> |
<%= link_to 'Back', yes_votes_path %>