<script type="text/javascript">
	//demo script
	$(function(){
		if($.browser.msie) setTimeout(function(){$.fgCharting();}, 2000);
		else $.fgCharting();
		});

</script>


<div id="recent_polls">
	<% @polls.reverse.each do |poll| %>
		<div class="listing">
			<h2><%= link_to 'Destroy', poll, :confirm => 'Are you sure?', :method => :delete %></h2>
			<h2><%= link_to poll.title, poll %><br /> 
			<%=h time_ago_in_words(poll.created_at) %> ago</h2>
			<div class="listing_images">
				<%= image_tag poll.before_pic.url(:large) %>
				<%= image_tag poll.after_pic.url(:large) %>
			</div>
			<div class="listing_votes">
			<div id="newest_poll_yes_votes">
				<%=h pluralize(poll.yes_votes.count, 'Yes Vote') %>
			</div><br />
			<%=h pluralize(poll.no_votes.count, 'No Vote') %>
			</div>
  		<!--<h3><%=h poll.description %></h3>-->
		</div>
	<% end %>
</div>
<%= link_to "new poll", new_poll_path %>
<div id="last_poll_wrapper">
	<table id="last_poll">
		<thead>
			<%=h @polls.last.title %>
		</thead>
		<tr id="last_poll_image_headers">
			<td>
				Before
			</td>
			<td>
				After
			</td>
		</tr>
		<tr id="last_poll_images">
			<td>
				<%= image_tag @polls.last.before_pic.url(:large) %>
			</td>
			<td>
				<%= image_tag @polls.last.after_pic.url(:large) %>
			</td>
		</tr>
		<tr>
			<td>
					<% form_remote_for [@polls.last, YesVote.new],
		 				:before => %(Element.show('vote')),
						:success => %(Element.hide('vote')) do |f| %>
						<%= f.submit "Vote Yes", :class => :vote_button %>
					<% end %>
				</td>
				<td>
					<% form_remote_for [@polls.last, NoVote.new],
		 				:before => %(Element.show('vote')),
						:success => %(Element.hide('vote')) do |f| %>
						<%= f.submit "Vote No", :class => :vote_button %>
					<% end %>
				</td>
			</tr>
			<tr>
				<td>
					<%=h @polls.last.yes_votes.count %>
				</td>
				<td>
					<%=h @polls.last.no_votes.count %>
				</td>
			</tr>
		</table>
	</div>
	<div id="stats_wrapper">
		<table id="dataTable" summary="">
			<thead>
				<tr>
					<th id="Yes"></th>
					<th id="No"></th>
				</tr>
			</thead>
			<!--messing with structure of this part will break stuff-->
			<tbody>
				<tr>
					<th headers="Yes Votes">Yes</th>
					<td headers="Yes"><%=h @polls.last.yes_votes.count %></td>
				</tr>
				<tr>
					<th headers="No Votes">No</th>
					<td headers="No"><%=h @polls.last.no_votes.count %></td>
				</tr>
			</tbody>
		</table>
		<!--tried tables here, was bugging out the chart resizing-->
		<div id="charts">
			<div id="pie">
				<!--have to define w/h here, not stylesheet (safari bug)-->	
				<canvas id="pie_chart" class="fgCharting_src-dataTable_type-pie" width="150" height="150"></canvas>
				<!--bar width edited in fgCharting.js-->
				<canvas id="bar_graph" class="fgCharting_src-dataTable_type-bar" width="150" height="150" style="padding-left:20px"></canvas>
				
			</div>
		</div>
	</div>	
</div>
</div>
<script type="text/javascript">
	//demo script
	$(function(){
		$('body').addClass('hasJS');
				$.fgCharting();
			});
			return false;
		});
		
		if($.browser.msie) setTimeout(function(){$.fgCharting();}, 2000);
		else $.fgCharting();



	});
</script>