<h1>Listing polls</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>

<% @polls.each do |poll| %>
  <tr>
    <td><%=h poll.title %></td><br />
		<td><%= image_tag poll.before_pic.url(:large) %></td><br />
		<td><%= image_tag poll.after_pic.url(:large) %></td><br />
    <td><%=h poll.description %></td><br />
    <td><%= link_to 'Show', poll %></td>
    <td><%= link_to 'Edit', edit_poll_path(poll) %></td>
    <td><%= link_to 'Destroy', poll, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New poll', new_poll_path %>