<div id="recent_polls">
	<% @polls.reverse.each do |poll| %>
		<div class="listing">
			<h2><%= link_to 'Destroy', poll, :confirm => 'Are you sure?', :method => :delete %></h2>
			<h2><%= link_to poll.title, poll %></h2>
			<div class="listing_images">
				<%= image_tag poll.before_pic.url(:large) %>
				<%= image_tag poll.after_pic.url(:large) %>
			</div>
			<div class="listing_votes">
			<%=h pluralize(poll.yes_votes.count, 'Yes Vote') %><br />
			<%=h pluralize(poll.no_votes.count, 'No Vote') %>
			</div>
  		<!--<h3><%=h poll.description %></h3>-->
		</div>
	<% end %>
</div>

<div id="last_poll">
	<h2><%=h @polls.last.title %></h2>
	<h3>Before</h3><h3>After</h3>
		<div id="last_before_image">
			<%= image_tag @polls.last.before_pic.url(:large) %>
		</div>
		<div id="last_after_image">
			<%= image_tag @polls.last.after_pic.url(:large) %>
		</div>
	<div id="last_description">
		<%=h @polls.last.description %>
	</div>
	<div id="last_vote">
		<div id="last_vote_buttons">
			<% form_remote_for [@polls.last, YesVote.new],
 				:before => %(Element.show('vote')),
				:success => %(Element.hide('vote')) do |f| %>
				<div id="last_yes_button"><%= f.submit "Vote Yes" %>
			<% end %>
				</div>
				<div id="last_vote_count">
					<div id="yes_votes" class="vote_count">
						<%=h @polls.last.yes_votes.count %> |&nbsp;
					</div> 
					<div id="no_votes" class="vote_count">
						<%=h @polls.last.no_votes.count %>
					</div>
				</div>
			<% form_remote_for [@polls.last, NoVote.new],
 				:before => %(Element.show('vote')),
				:success => %(Element.hide('vote')) do |f| %>
				<div id="last_no_button"><%= f.submit "Vote No" %>
			</div>
			<% end %>
		</div>
	</div>
	<div id="stats">
		<div id="stats_title" class="bar">
			Stats
		</div>
		<div id="stats_stats">
			<b>Current Rating: <%= current_rating %></b><br />
			<b>Total Votes: <%= total_votes %></b><br />
			<b>Yes %: <%= yes_percent %></b> <br />
			<b>No %: <%= no_percent %></b><br />
			Page Views:<br />
			Some Kind of Graphs<br />
			etc
		</div>
	<br />
</div>
</div>
