<% @polls.reverse.each do |poll| %>
	<h2><%= link_to poll.title, poll %></h2>
	<p>
		<%= image_tag poll.before_pic.url(:large) %>
		<%= image_tag poll.after_pic.url(:large) %>
	</p>
  <h3><%=h poll.description %></h3>
<% end %>
<br />

<%= link_to 'Want to create a poll of your own?', new_poll_path %>