<h2><%=h @poll.title %></h2>
<p>
	<%= image_tag @poll.before_pic.url(:large) %>
	<%= image_tag @poll.after_pic.url(:large) %>
</p>
<h3><%=h @poll.description %></h3>

<div id="yes_votes">
	<h3><%=h pluralize(@poll.yes_votes.count, 'Vote') %> for yes.</h3>
</div>

<div id="no_votes">
	<h3><%=h pluralize(@poll.no_votes.count, 'Vote') %> for no.</h3>
</div>

<% form_remote_for [@poll, YesVote.new] do |f| %>
	<%= f.submit "Vote Yes" %> 
<% end %>
<% form_remote_for [@poll, NoVote.new] do |f| %>
	<%= f.submit "Vote No" %>
<% end %>


<%= link_to 'Back Home', polls_path %>