<h1>New no_vote</h1>

<% form_for(@no_vote) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :poll_id %><br />
    <%= f.text_field :poll_id %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_field :body %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', no_votes_path %>